@define-color base0			#181B20;
@define-color base1			#24272e;
@define-color base2			#32363e;
@define-color base3			#41464e;
@define-color base4			#575E66;
@define-color subtext0		#8F9599;
@define-color subtext1		#AAAEB0;
@define-color text			#C5C8C6;
@define-color red			#BD9D9D;
@define-color green			#ADBD9D;
@define-color yellow		#BDB39D;
@define-color blue			#9DA3BD;
@define-color magenta		#B89DBD;
@define-color cyan			#9DBEBE;

/* Base styling for all widgets */
* {
	all: unset;
	color: @text;
	border-radius: 4px;
	box-shadow: none;
}

/* Add padding */
menu, popover, modelbutton, window, dialog, headerbar, notebook header, scale, scale highlight, progressbar progress, switch, switch slider { padding: 2px; }

radio, switch, switch slider, scrollbar slider, scale, scale trough, progressbar trough, levelbar, scale highlight, progressbar progress { border-radius: 9999px; }

/* Disabled opacity */
button:disabled, check:disabled, radio:disabled, entry:disabled, switch:disabled, modelbutton:disabled, progressbar:disabled, scale:disabled, label:disabled, text:disabled {
	opacity: 0.5;
}

/* Selected text */
text selection, entry selection {
    background-color: @base4;  
}

/* Surfaces */
window, dialog {
	background-color: @base1;
}

frame, .frame, .popover, listview, columnview {
	border: 1px solid @base3;
	padding: 2px;
}



/* Separators */
separator {
	background-color: @base3;
	margin: 2px;
	min-width: 1px;
	min-height: 1px;
}

/* Buttons */
button {
	background-color: @base2;
	padding: 4px 8px;
	margin: 2px;
	border: 1px solid @base3;
}

button:hover {
	border: 1px solid @base4;
}

button:active {
	background-color: @base3;
}

button:checked {
	background-color: @base3;
	border: 1px solid @base4;
}

button:checked:hover {
	border: 1px solid @subtext0;
}

dropdown arrow, combobox arrow, expander:checked {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}

expander {
	-gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

/* Entries (text fields) */
entry {
	background-color: @base0;
	border: 1px solid @base3;
	padding: 3px 6px;
}

/* Header bars */
headerbar {
	border-radius: 4px 4px 0 0;
	background-color: @base0;
	border: 1px solid @base2;
	border-bottom: 1px solid @base3;
}


/* Checkboxes and radio buttons */
check, radio {
	background-color: @base2;
	border: 1px solid @base3;
}

check:hover, radio:hover {
	border: 1px solid @base4;
}

check:checked {
	-gtk-icon-source: -gtk-icontheme("emblem-ok-symbolic");
	color: @subtext0;
}

radio:checked {
	-gtk-icon-source: -gtk-icontheme("media-record-symbolic");
	color: @subtext0;
}

/* Switch */
switch {
	min-width: 36px;
	min-height: 20px;
	border: 1px solid @base3;
	padding: 2px;
}

switch slider {
	background-color: @base3;
	border: 1px solid @base4;
	min-width: 16px;
	min-height: 16px;
	transition: all 200ms ease;
}

switch:checked {
	border-color: @bg2;
}

switch:checked slider, switch:hover slider {
	background-color: @fg2;
}

switch:hover:checked slider {
	background-color: @fg1;
}

/* Minimal menus */
menu, popover {
	background-color: @base2;
	border: 1px solid @base3;
}

modelbutton, notebook tab { border: 1px solid transparent; }

modelbutton:hover {
	background-color: @bg0;
	border: 1px solid @bg1;
}

/* Tree views and lists */
row:not(:last-child) {
	border-radius: 0;
}

row:hover {
	background-color: @bg0;
	color: @fg0;
	border-radius: 4px;
}

/* Tooltips */
tooltip {
	background-color: @bg0;
	border: 1px solid @bg1;
	padding: 4px;
}

/* Bars */
scrollbar slider {
	background-color: @base2;
	min-width: 3px;
	min-height: 3px;
}

scrollbar slider:hover, scale highlight, progressbar progress { background-color: @base4; }

scale {
    margin: 0 6px;
    min-width: 100px;
}

scale value {
	padding: 2px 6px;
	margin: 2px;
	min-width: 40px;
	border: 1px solid @base3;
}

scale trough, progressbar trough, levelbar {
	padding: 2px;
	border: 1px solid @base3;
	min-height: 4px;
	min-width: 4px;
}

scale trough:hover {
	border: 1px solid @base4;
}

scale indicator {
	margin: 4px;
	min-height: 4px;
	background-color: @base4;
	padding: 1px;
}

scale slider {

	padding: 2px;
	background-color: @subtext0;
    transform: scale(2);
}

levelbar block {
	background-color: @base4;
}

levelbar block.empty {
	background-color: transparent;
}

/* Notebook */
notebook {
	background-color: transparent;
}

notebook header {
	background-color: @base2;
	border: 1px solid @base3;
	margin: 2px;
}

notebook tab {
    padding: 4px 10px;
    margin: 1px;
}

notebook tab:hover {
    background-color: @base3;
	border: 1px solid @base4;
}

notebook > header.top    { border-radius: 4px 4px 0 0; border-bottom: 1px solid @base4; }
notebook > header.bottom { border-radius: 0 0 4px 4px; border-top:    1px solid @base4; }
notebook > header.left   { border-radius: 4px 0 0 4px; border-right:  1px solid @base4; }
notebook > header.right  { border-radius: 0 4px 4px 0; border-left:   1px solid @base4; }

notebook > header.top tab    { border-radius: 4px 4px 0 0; }
notebook > header.bottom tab { border-radius: 0 0 4px 4px; }
notebook > header.left tab   { border-radius: 4px 0 0 4px; }
notebook > header.right tab  { border-radius: 0 4px 4px 0; }

notebook > header.top tab:checked    { border-bottom: 2px solid @subtext0; }
notebook > header.bottom tab:checked { border-top:    2px solid @subtext0; }
notebook > header.left tab:checked   { border-right:  2px solid @subtext0; }
notebook > header.right tab:checked  { border-left:   2px solid @subtext0; }
